[submodule "pugixml"]
	path = lib/pugixml
	url = https://github.com/zeux/pugixml/
[submodule "csv"]
	path = lib/csv
	url = https://github.com/ben-strasser/fast-cpp-csv-parser
[submodule "clipp"]
	path = lib/clipp
	url = https://github.com/muellan/clipp
